
body {
    background-image: url('hp.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  width: 1224px;
  height: 634px;
  position: relative;
  overflow: hidden;
}
#placa{
    height: 300px;
    width: 150px;
    top:70%;
    left: 80%;
    position: fixed;
}

#placa-nome{
  top: 0px;
  position:fixed;
  width: 25%;
  height: 20%;
  left: 35%;
  margin:0px;
  padding: 0px;
}

#inicio{
  position:fixed;
  width: 25%;
  height: 20%;
  left: 41%;
  margin:0px;
  padding: 0px;
  top:12%;
  font-size: 20px;
}

#file{
  top:75%;
  left: 82%;
  position: fixed;
  font-size:18px;
}

#man{
  top:90%;
  left: 84%;
  position: fixed;
  font-size:18px;
}

#nomes{
  width:15%;
  float : left;
}
#texto{
  color : white;
  width: 4%;
  height: 14%;
  border-radius: 5px;
  position: fixed;
  top : 6%;
  left:5%;
  padding: 1px;
}